.vador__blog {
  display: flex;
  flex-direction: column;
}

.vador__blog-heading {
  width: 100%;
  text-align: left;
  margin-bottom: 5rem;
}

.vador__blog-heading h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
}

.vador__blog-container {
  display: flex;
  flex-direction: row;
}

.vador__blog-container_g1 {
  flex: 0.7;
  margin-right: 2rem;
}

.vador__blog-container_g2 {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

@media screen and (max-width: 990px) {
  .vador__blog-container {
    flex-direction: column-reverse;
  }

  .vador__blog-container_g1 {
    margin: 2rem 0;
  }

  .vador__blog-container_g1 .vador__blog-container_article {
    width: 48%;
  }

  .vador__blog-container_g1 .vador__blog-container_article-image {
    height: 250px;
  }
}

@media screen and (max-width: 700px) {
  .vador__blog-container_g2 {
    grid-template-columns: repeat(1, 1fr);
  }

  .vador__blog-container_g1 .vador__blog-container_article {
    width: 100%;
  }

  .vador__blog-heading h1 {
    font-size: 46px;
    line-height: 52px;
  }
}

@media screen and (max-width: 550px) {
  .vador__blog-heading h1 {
    font-size: 34px;
    line-height: 42px;
  }
}
