@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #B82E1F 1.84%, #000000 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #B82E1F -13.86%, #000000 99.55%);

  --color-bg: #040C18;
  --color-footer : #5A0600;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;

  --text-shadow:
  0 0 40px #B82E1F,
  0 0 80px #B82E1F,
  0 0 90px #B82E1F,
  0 0 100px #B82E1F,
  0 0 150px #B82E1F;
}
